# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart/Pub related
.dart_tool/
.fvm/flutter_sdk
pubspec.lock
**/doc/API/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Intellij IDEA
*.iml
*.ipr
*.iws
.idea/

# Android-generated code
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew.bat
**/android/gradlew
**/android/local.properties
**/android/key.properties
*.jks
/android/app/debug
/android/app/profile
/android/app/release

# IOS-generated code
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
